@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

/*** Font ***/
$font-stack: "Noto Sans TC", "微軟正黑體", "蘋果儷黑體", "新細明體", Helvetica, Arial, Verdana, sans-serif;
$setFz: 16px;

/*** Color ***/
$colorY: #ffeb67;
$colorGr: #cbe196;
$colorBl: #a5d8d6;
$colorRed: #ef898c;
$colorPn: #f100a3;