<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sticky Note</title>

    <!--========== MetaData ==========-->
    <meta property="og:url" content="https://northahuang.github.io/Sticky_Note/index.html">
    <meta property="og:title" content="即時便利貼">
    <meta property="og:description" content="Vue & Firebase 初體驗">
    <meta property="og:image" content="https://northahuang.github.io/Sticky_Note/images/share.png">

    <!--========== CSS ==========-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css" />

    <!--========== Vue ==========-->
    <script src="https://unpkg.com/vue"></script>

    <!--========== Firebase ==========-->
    <script src="https://www.gstatic.com/firebasejs/4.5.1/firebase.js"></script>
</head>

<body>
    <main id="app">
        <transition-group name="fade" tag="ul" class="note-wrap">
            <li class="note" 
                v-for="(n, idx) in note"
                :key="idx"
                :style="noteCss(n)"
                @mousedown="selectId($event, idx)">
                <p>{{n.text}}</p>

                <div class="colorList">
                    <div class="block" 
                    v-for="color in colorList"
                    :style="{ backgroundColor: color.color}"
                    @click="setColor(idx, color.name)"></div>
                    <button class="btn fa fa-pencil" @click="setText(idx)"></button>
                    <button class="btn fa fa-trash-o" @click="deleteNote(idx)"></button>
                </div>
            </li>
        </transition-group>

        <ul class="datalist">
            <button @click="addNote" class="addNote"></button>
        </ul>
    </main>


    <!--========== Javascript ==========-->
    <script type="text/javascript" src="js/app.js"></script>
</body>

</html>